/* Dashboard */


#dashboard{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: flex;
    background-color: white;
}

#left {
    border: 1px solid red;
    align-items: left;
    text-align: center;
    padding: 3px;
}
#left li {
    padding: 6px;
    margin: 7px;
    border: 1px solid red;
}

#right{
    border: 1px solid red;
    align-items: right;
    text-align: center;
}

#right li{
    padding: 3px;
}

#grafico{
    border: 1px solid red;
}


/* End Dashboard */
