/* FONT */

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

/* END FONT */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body, html {
    background-image: linear-gradient(to bottom, #ff6cab, #fa6cff, #a608bb, #fa6cff, #ff6cab);
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

a {
    font-family: Poppins-Regular;
    font-size: 14px;
    text-decoration: none;
    color: #666666;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #57b846;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}
form {
    border-radius: 4px;
}

form input {
    padding: 3px;
    border-left: none;
    border-right: none;
    border-top: none;
}
.cta {
    color: red;
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0);
    padding: 10px;
    border: 2px crimson;
    border-radius: 3px;
}

.cta:hover {
    color: darkRed(63, 15, 63);
    background-color: rgba(255, 0, 0, 0.342);
    border: 2px rgb(201, 26, 26) solid;
}

.icone {
    width: 40px;
    padding: 1px;
    margin: 1px;
}

/*--------------NAVBAR--------------*/

#nav {
    background-color: transparent;
    clear: both;
    position: relative;
    margin-bottom: 1px;
}

#nav div {
    display: inline-block;
}

#nav #logo {
    margin-left: 20px;
}


#nav span {
    font-size: 30px;
    color: yellow;
    margin: 30px 25px;
    float: right;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav #Links {
    margin-right: 30px;
    float: right;
}

#nav li {
    float: left;
    margin: 3px;
}

#nav li a {
    display: block;
    color: rgb(168, 164, 164);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 25px 3px;
}

#nav li a:hover {
    background-color: crimson;
}

/*--------------FIM----NAVBAR--------------*/

/*--------------Footer--------------*/

#footer {
    justify-content: center;
    border: 1px solid crimson;
    text-align: center;
    clear: both;
}

#footer #text {
    color: white;
    padding: 5px;
    font-size: 15px;
}

#footer #cop {
    color: white;
    padding: 5px;
    font-size: 10px;
}

#content {
    padding-top: 10px;
}

#content a {
    width: 30px;
}

/*--------------FIM----Footer--------------*/